.float{
	position:fixed;
  	animation: skew 3s infinite;
  	transform: skew(2deg);
  	animation-direction: alternate;

	width:60px;
	height:60px;
	bottom:54px;
	right:100px;
	background-color:#25d366;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}

.float:hover{
	color: #fff !important;
  cursor: pointer;
	transform: scale(1.10); 

}

.my-float{
	margin-top:16px;
}

@keyframes shimmy {
  0% {
    transform: translateY(10px);
  }
}